page-about {



    #caixa_txt{
        width: 500px;
        height: 500px;
        border: solid black;
        padding: 50px;
        //text-align: center;
        margin-top: 50px;
        margin-left: 50px;
    }
}
