#mae{
    background-color:red;
    width: 100%;
    height: 1500px;  
    margin: 100px 0px 0px -8px;
    position: absolute;
    z-index: 5;
}

#cabecalho{
    background-color: black;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100px;
    float: left;
    color: white;
    margin: -10px 0px 0px -8px;
}

#rodape{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    margin: 1278px 0px 0px 0px;
    opacity: 1;
}

#rodape:hover{
    opacity: 1;
}

#rodapeText{
    margin: 40px 0px 0px 160px;
    padding: 0px 1% 0px 1px;
    float: left;
}

#rodapeBot{
    background-color: blue;
    width: 100%;
    height: 45px;
    position: absolute;
    margin: 105px 0px 0px 0px;
    opacity: 0.5;
}

#rodapeBotText1{
    margin: 0px 0px 0px 150px;
}

#rodapeBotText1, #rodapeBotText2, #rodapeBotText3 ,#rodapeBotText4{
    float: left;
    padding: 15px 1% 0px 1%;
    font-family: arial;
    font-size: 12px;
}
/*
a{
    text-decoration: none;
}

a:hover{ 
    text-decoration: underline;
}
*/
a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
