page-dados-pessoais {
    ion-label{
        color: white;
    }
    ion-content{
        font-size: 50px;
    }
    html{
        background-color:#104E8B;
    }
    ion-list{
        background-color: #104E8B;
    }
    
    

}


/*ion-input{
    border: 1px solid black;
    height: 20px;
}*/

