// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .item-ios.item-input.input-has-focus .item-inner,
  .item-ios.item-input.item-input-has-focus .item-inner {
  border-bottom-color:#dedede;
  -webkit-box-shadow: inset 0 0 0 0 #dedede;
  box-shadow: inset 0 0 0 0 #dedede;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #dedede;
  -webkit-box-shadow: inset 0 0 0 0 #dedede;
  box-shadow: inset 0 0 0 0 #dedede;
}
.item-md.item-input.ng-invalid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-invalid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-ios.item-input.ng-invalid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-ios.item-input.ng-invalid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #dedede;
  -webkit-box-shadow: inset 0 0 0 0 #dedede;
  box-shadow: inset 0 0 0 0 #dedede;
  }

 .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #dedede;
    -webkit-box-shadow: inset 0 0 0 0 #dedede;
    box-shadow: inset 0 0 0 0 #dedede;
  }
  .item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid #dedede;
  }
  .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios{
    color: #999;
  }
  ion-app.ios, ion-app.md{
    font-family: "Roboto", "Helvetica Neue",  sans-serif;
  }
  /*font-family: 'IBM Plex Sans', sans-serif;*/

  

ion-spinner {
    width: 70px !important;
    height: 70px !important;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    stroke: orangered;
    fill: orangered;
    --spinner-color:orangered;
    color: orangered;
    $loading-ios-spinner-crescent-color: orangered;
}

.loading-wrapper {
    height: 0%;
    width: 0%;
    padding: 0 !important;
    max-height: 0% !important;
    max-width: 0% !important;
    justify-content: center;
}
