<!--
  Generated template for the CandidatosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div id="esmaecer"></div>
<ion-header>
  <ion-navbar>
    <ion-title>candidatos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <section id="filter">
    <form class="formFilter">
    <ion-list [formGroup]="formulario_candidatos">
      <ion-item padding>
        <ion-label id="lbl_area_atuacao">Área de atuação:</ion-label>
        <ion-select cancelText="Cancelar" multiple="true">
          <ion-option *ngFor="let areaAt of areaA" [value]="areaAt" >{{areaAt}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item padding>
        <ion-label id="lbl_area_interesse">Área de interesse:</ion-label>
        <ion-select cancelText="Cancelar" multiple="true">
          <ion-option *ngFor="let areaIn of areaI" [value]="areaIn">{{areaIn}}</ion-option>
        </ion-select>
      </ion-item>
        <ion-item padding>
        <ion-label id="lbl_sexo">Sexo:</ion-label>
          <ion-select cancelText="Cancelar" multiple="true">
            <ion-option *ngFor="let sexos of sexo" [value]="sexos">{{sexos}}</ion-option>
          </ion-select>
      </ion-item>
        <ion-item padding>
          <ion-label id="lbl_escolaridade">Escolaridade:</ion-label>
          <ion-select cancelText="Cancelar" (focus)="Valida('escola')" (blur)="Valida('escola')" multiple="true">
            <ion-option *ngFor="let escola of escolaridade" [value]="escola">{{escola}}</ion-option>
          </ion-select>
        </ion-item>
      <ion-item padding>
        <ion-label id="lbl_idade">Idade:</ion-label>
        <ion-input class="inputIdade" type="number" formControlName="idade" (keyup)="Valida('idade')" (blur)="Valida('idade')"></ion-input>
      </ion-item>
    </ion-list>
    </form>
  </section>
  <button ion-button color="light" id="botaofiltro">Filtros</button>
  <ion-icon name="options"></ion-icon>
  <input class="searchbar-input" dir="auto" placeholder="Pesquisa por nome" type="search" autocomplete="off" autocorrect="off" spellcheck="false">
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/perfil.png">
      </ion-avatar>
      <h2>Lucas Cruz</h2>
      <p>2 de Abril de 1999</p>
    </ion-item>
    <ion-card-content>
      <h2>Diferenciais:</h2>
      <li>Experiência em trabalho voluntário</li>
      <li>Organização</li>
    </ion-card-content>
    <ion-card-content>
      <h2>Ocupações:</h2>
      <li>Programador</li>
      <li>Engenheiro de Software</li>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="clipboard"></ion-icon>
          <div>Ver currículo</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/perfil.png">
        </ion-avatar>
        <h2>Julia Gomes</h2>
        <p>6 de Junho de 1996</p>
      </ion-item>
      <ion-card-content>
        <h2>Diferenciais:</h2>
        <li>Experiência em trabalho voluntário</li>
        <li>Capacidade de trabalho em equipe</li>
      </ion-card-content>
      <ion-card-content>
        <h2>Ocupações:</h2>
        <li>Programadora</li>
        <li>Engenheira de Software</li>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="clipboard"></ion-icon>
            <div>Ver currículo</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
