@media screen and (orientation: landscape) {
    ion-app.md [padding] .scroll-content {
      padding-left: calc(constant(safe-area-inset-left) + 0px);
      padding-top: 0px;
      padding-bottom: 0px;
      padding: 0px calc(env(safe-area-inset-right) + 0px) 0px calc(env(safe-area-inset-left) + 0px);
    }
  }
  ion-app.md [padding] .scroll-content {
    padding: 0px; 
 }
  

page-hotsite {
    .cabecalho {
        background-image: url("../../assets/imgs/fenix.png");
        background-position: center center;
        padding: calc(0.12 * 100vh) calc(0.05 * 100vw);
        color: #f5fbef;
        display: flex;
        background-size: cover;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cabecalho h1{
        font-size: calc(0.085 * 100vw);
        font-family: raleway;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }
    .cabecalho h3 {
        font-size: calc(0.034 * 100vw);
        font-family: raleway;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }

    .apresentacao{
        margin-top: 0.8em ;
        padding: calc(0.09 * 100vh) calc(0.05 * 100vw);
        -webkit-box-shadow: 11px 8px 11px -4px rgba(150,150,150,0.8);
        -moz-box-shadow: 11px 8px 11px -4px rgba(150,150,150,0.8);
        box-shadow: 11px 8px 11px -4px rgba(150,150,150,0.8);
        background-color: #db581c;
        color: #f5fbef;
    }

    .apresentacao h1{
        font-family: raleway;
        font-size: calc(0.03 * 100vw);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        padding-bottom: 0.3em;
    }

    .apresentacao h2{
        font-family: raleway;
        font-size: calc(0.018 * 100vw);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        text-align: justify;
        line-height: 1.3em;
    }
    
    .motivos{
        height: calc(1.1 * 100vh);
        width: calc(1 * 100vw);
        color: #f5fbef;
        background-color: #011627;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    #questao{
        color: #f5fbef;
        font-size: calc(0.025 * 100vw);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        position: absolute;
        align-self: flex-start;
        margin-top: 1em;
    }

    .apresenta_motivo{
        background-color: #564d65;
        padding: calc(0.2 * 100vh) calc(0.14 * 100vw);
        margin: 5em 0 0 calc(0.032 * 100vh);
        background-image: url("../../assets/imgs/motivo1.png");
        background-position: center center;
        background-size: cover;
    }

    .apresenta_motivo2{
        background-color: #605474;
        padding: calc(0.2 * 100vh) calc(0.14 * 100vw);
        margin: 5em 0 0 calc(0.032 * 100vh);
        background-image: url("../../assets/imgs/motivo2.jpg");
        background-position: center center;
        background-size: cover;
    }

    .apresenta_motivo3{
        background-color: #564d65;
        padding: calc(0.2 * 100vh) calc(0.14 * 100vw);
        margin: 5em 0 0 calc(0.032 * 100vh);
        background-image: url("../../assets/imgs/motivo3.jpg");
        background-position: center center;
        background-size: cover;
    }

    .motivo1{
        height: calc(0.35 * 100vh) ;
        width: calc(0.28 * 100vw);
        margin: 1em 0 0 calc(0.02 * 100vh);
    }
    .motivo1 h1{
        font-size: calc(0.020 * 100vw);
        font-family: raleway;
    }
    .motivo1 p{
        font-size: calc(0.015 * 100vw);
        text-align: justify;
    }

    .motivo1hide{
        display: none;
    }

    .motivo2hide{
        display: none;
    }

    .motivo3hide{
        display: none;
    }

    .motivo2{
        height: calc(0.35 * 100vh) ;
        width: calc(0.28 * 100vw);
        margin: 1em 0 0 calc(0.035 * 100vh);
    }
    .motivo2 h1{
        font-size: calc(0.020 * 100vw);
        font-family: raleway;
    }
    .motivo2 p{
        font-size: calc(0.015 * 100vw);
        text-align: justify;
    }

    .motivo3{
        height: calc(0.35 * 100vh) ;
        width: calc(0.28 * 100vw);
        margin: 1em 0 0 calc(0.035 * 100vh);
    }
    .motivo3 h1{
        font-size: calc(0.020 * 100vw);
        font-family: raleway;
    }
    .motivo3 p{
        font-size: calc(0.015 * 100vw);
        text-align: justify;
    }
    
#rodape{
    width: 100%;
    height: 0;
    //min-height: 80px;
    background-color: #ffffff;
    color: black;
    bottom:0;
    opacity: 1;
    border-top: solid calc(0.075 * 0.5vw);
    border-color: #f5fbef;
}

#rodape:hover{
    opacity: 1;
}

#rodapeText{
    font-family: arial;
    font-size: calc(0.08 * 13vw);
    margin: calc(0.032 * 145vw) 0 0 calc(0.12 * 100vw);
    padding: 0 1% 0 1;
    float: left;
}

.rodapeTextAB {
    color: black;
    margin: 0 0 calc(-0.1 * 11.5vw) 0;
}

#rodapeBot{
    background-color: #CCCCCC25;
    width: 100%;
    height: calc(0.03 * 120vw);
    position: absolute;
    margin: calc(0.071 * 150vw) 0 0 0;
    opacity: 0.9;
    border-top: solid calc(0.075 * 0.5vw);
    border-color: lightgray;
}

#rodapeBotText1{
    margin: 0 0 0 calc(0.08 * 139vw);
}

#rodapeBotText1, #rodapeBotText2, #rodapeBotText3 ,#rodapeBotText4{
    float: left;
    padding: calc(0.08 * 16vw) 1% 0 1%;
    font-family: arial;
    font-size: calc(0.08 * 12vw);
}

#rodapeA{
    text-decoration: none;
    font-family: arial;
    color: dodgerblue;
}

#rodapeA:hover{
    text-decoration: underline;
    font-family: arial;
}

#rodapeBotA{
    text-decoration: none;
    color: black;
}

#rodapeBotA:hover{
    text-decoration: underline;
}

//------------------------------------------------------------------

ion-navbar.toolbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
  }

  .toolbar-background {
    background-color: #ffffff;
  }

  #headLogo{
      /*width: 5%;*/
      margin: 0.5% 0% 0% 5%; /*era 12% mas dai tava meio pro lado disculp tenho toc*/
      width: 10%;
      min-width: 100px;
  }

  #headLogin{
    float: right;
    margin: 1.5% 1% 0 0;
    background: #db581c;
    background-image: -webkit-linear-gradient(top, #db581c, #db581c);
    background-image: -moz-linear-gradient(top, #db581c, #db581c);
    background-image: -ms-linear-gradient(top, #db581c, #db581c);
    background-image: -o-linear-gradient(top, #db581c, #db581c);
    background-image: linear-gradient(to bottom, #db581c, #db581c);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
  }

  @media screen and (max-width:600px){
    #headLogin{
      margin: 3.5% 1% 0 0;
    }

    #rodapeText {
        margin: 4vw 2vw;
        font-size: calc(0.023 * 100vw);
    }

    #rodapeBot {
        height: calc(0.07 * 100vw);
    }

    #rodapeBotText1, #rodapeBotText2, #rodapeBotText3 ,#rodapeBotText4 {
        margin-top: 1.5%;
        font-size: calc(1 * 2.5vw);
    }
  }

  #headLogin:hover{
    background: #dbdbdb;
    background-image: -webkit-linear-gradient(top, #dbdbdb, #dbdbdb);
    background-image: -moz-linear-gradient(top, #dbdbdb, #dbdbdb);
    background-image: -ms-linear-gradient(top, #dbdbdb, #dbdbdb);
    background-image: -o-linear-gradient(top, #dbdbdb, #dbdbdb);
    background-image: linear-gradient(to bottom, #dbdbdb, #dbdbdb);
    text-decoration: none;
  }

  @media screen and (max-width: 1032px) {
    #questao{
        font-size: calc(0.025 * 100vw);
        position: absolute;
        align-self: flex-start;
        margin-top: 1.4em;
    }

    .motivos{
        height: calc(0.55 * 100vw);
        width: calc(1 * 100vw);
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .apresenta_motivo{
        background-color: #564d65;
        padding: calc(0.128 * 100vw) calc(0.14 * 100vw);
        
        background-image: url("../../assets/imgs/motivo1.png");
        background-position: center center;
        background-size: cover;
    }

    .apresenta_motivo2{
        background-color: #605474;
        padding: calc(0.2 * 100vh) calc(0.14 * 100vw);


    }

    .apresenta_motivo3{
        background-color: #564d65;
        padding: calc(0.2 * 100vh) calc(0.14 * 100vw);

    }

    .motivo1{
        height: calc(0.35 * 100vh) ;
        width: calc(0.28 * 100vw);
        margin: 1em 0 0 calc(0.02 * 100vh);
    }
    .motivo1 h1{
        font-size: calc(0.020 * 100vw);
        font-family: raleway;
    }
    .motivo1 p{
        font-size: calc(0.015 * 100vw);
        text-align: justify;
    }
  }
  
  @media screen and (max-width: 450px) {
    
    .cabecalho {
        background-image: url("../../assets/imgs/fenix.png");
        background-position: center center;
        padding: calc(0.2 * 100vh) calc(0.05 * 100vw);
        color: #f5fbef;
        display: flex;
        background-size: cover;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cabecalho h1{
        font-size: calc(0.24 * 100vw);
        font-family: raleway;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }
    .cabecalho h3 {
        font-size: calc(0.07 * 100vw);
        font-family: raleway;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }

    .apresentacao{
        margin-top: 1.5em;
        padding: calc(0.1 * 100vh) calc(0.05 * 100vw);
        background-color: #db581c;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .apresentacao h1:first-child{
        font-family: raleway;
        font-size: calc(0.1 * 100vw);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        padding-bottom: 0.5em;
        
    }

    .apresentacao h2{
        font-family: raleway;
        font-size: calc(0.055 * 100vw);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        text-align: justify;
        line-height: 1.4em;
    }

    .motivos{
        height: calc(4.45 * 100vw);
        width: calc(1 * 100vw);
        color: #f5fbef;
        background-color: #011627;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    #questao{
        color: #f5fbef;
        font-size: calc(0.07 * 100vw);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }

    .apresenta_motivo{
        padding: calc(0.3 * 100vw) calc(0.4 * 100vw);
        background-image: url("../../assets/imgs/motivo1.png");
        background-position: center center;
        background-size: cover;
        margin: 9em auto 0em auto;
        /*margin-top: 9em;*/
    }

    .apresenta_motivo2{
        padding: calc(0.3 * 100vw) calc(0.4 * 100vw);
        background-image: url("../../assets/imgs/motivo2.jpg");
        background-position: center center;
        background-size: cover;
        margin: 0em auto 0em auto;
    }

    .apresenta_motivo3{
        padding: calc(0.3 * 100vw) calc(0.4 * 100vw);
        background-image: url("../../assets/imgs/motivo3.jpg");
        background-position: center center;
        background-size: cover;
        margin: 0em auto 0em auto;
    }

    .motivo1{
        display: none;
    }

    .motivo2{
        display: none;
    }

    .motivo3{
        display: none;
    }
    
    .motivo1hide{
        display: flex;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;
        padding: calc(0.1 * 100vw) calc(0.1 * 100vw);
    }

    .motivo1hide h1{
        font-size: calc(0.06 * 100vw);
        font-family: raleway;
    }
    .motivo1hide p{
        font-size: calc(0.045* 100vw);
        text-align: justify;
    }

    .motivo2hide{
        display: flex;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;
        padding: calc(0.1 * 100vw) calc(0.1 * 100vw);
    }

    .motivo2hide h1{
        font-size: calc(0.06 * 100vw);
        font-family: raleway;
    }
    .motivo2hide p{
        font-size: calc(0.045* 100vw);
        text-align: justify;
    }

    .motivo3hide{
        display: flex;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;
        padding: calc(0.1 * 100vw) calc(0.1 * 100vw);
    }

    .motivo3hide h1{
        font-size: calc(0.06 * 100vw);
        font-family: raleway;
    }
    .motivo3hide p{
        font-size: calc(0.045* 100vw);
        text-align: justify;
    }
  }
   
}
