page-side-menu {

    background-color: rgba(56, 102, 137, 205);

    .menu_bar{
       
        background-color: rgba(56, 102, 137, 205);
    }

    .container_perfil{

        margin-left: 10%;
        color: white;
        background-color: rgba(56, 102, 137, 205);

    }

    .container_abas{

        margin-top: 10%;
        margin-left: 10%;
        color: white;
        background-color: rgba(56, 102, 137, 205);

    }

    .ion_item{
       background-color: rgba(56, 102, 137, 205);
       color:white;
    }

    .img_user{
        
        margin-top:10%;
        margin-left: 20%;
        width: 80px;
    }


}
