ion-card {
    display: block;
    overflow: hidden;
    width: 60%;
  }

page-curriculo {
  
#img_user{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px 
}
    
}
